<html>

<body>
  <nav class=" navbar navbar-expand-lg navbar-light" style="background-color:black">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://i.ibb.co/25SFBtZ/fw12.jpg" height="30px" width="30px">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a [routerLink]="['/home']" style="color:floralwhite;font-size:medium;" class="nav-link active"
              aria-current="page"><i class="fa fa-home"></i>Home</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/vegsample']" style="color:floralwhite;font-size:medium;" class="nav-link active"
              aria-current="page"><i class="fa fa-leaf"></i>vegetables</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/fruitsample']" style="color:floralwhite;font-size:medium;" class="nav-link"><i
                class="fa fa-lemon-o"></i>Fruits</a>
          </li>

          <li class="nav-item">
            <a [routerLink]="['/contactsample']" style="color:floralwhite;font-size:medium;" class="nav-link"><i
                class="fa fa-phone-square"></i>Contact us</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a [routerLink]="['/register']" style="color:floralwhite;font-size:medium;" class="nav-link"><i
                class="fa fa-user-plus"></i>&nbsp;Register</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/login']" style="color:floralwhite;font-size:medium;" class="nav-link"><i
                class="fa fa-sign-in"></i>&nbsp;Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <!-- <div class="image-aboutus-banner" style="margin-top:10px"> -->
    <div class="image-aboutus-banner" style="margin-top:10px">
      <div class="container">
        <div class="row">
          <div class="col-md-12 kujj">
            <h1 class="lg-text">About Us</h1>
            <p class="image-aboutus-para">We provide Food items like vegetables and Fruits.</p>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
    <div class="container">
      <b>For more than 60 years, we’ve been making Connecticut families happy to come home.</b><br><br><br>

      <p><i>How we do that is only part of the story. Why we do it – the reason we’re so committed to quality, honesty,
      integrity and total client satisfaction – is rooted in our company’s history.

<br>
<br>

      The Kitchen Company was founded in 1953 when Jaswinder Singh wasn't born, a sales rep for Republic Steel and a veteran of both
      WWII and the Korean War, recognized the growing demands of the post-war housing market.

<br>
<br>

      Anonymous (father to current owners/designers) began selling premade kitchen cabinetry
      wholesale to builders from a warehouse on Old Broadway in North Haven. He was a patient, fair and hardworking
      employer – someone who always took the high road, who looked out for contractors and vendors as much as he did his
      own employees.<br>
      <br>



      Over time, the company evolved with the needs of the market and its clients, transforming from a wholesale
      distributor to a retail kitchen design firm. Yet Fecke’s founding values never wavered.</i></p>



      Today, those values are the standard that all The Kitchen Company employees are expected to meet, and they live on
      in the company’s value statement:<br><br>
<ul>
     <li> Honesty to the customer and employees</li><br>

      <li>Ethical behavior</li><br>

      <li>Integrity</li><br>

     <li> Politeness in every situation</li><br>

      <li>Conduct business with manners</li><br>
    </ul>

      “We were able to learn the business from the ground up, alongside some of the most highly regarded professionals
      in the field,” said John Fecke. “It’s our responsibility – and our mission – to maintain The Kitchen Company’s
      reputation as one of the best kitchen design businesses in Connecticut.”
    </div>


    <div class="container">
      <p style="color: rgb(74,214,31);font-size:3rem;" class="text-center"><b>Our Clients</b></p>
      <br>
      <br>
      <marquee behavior="scroll" direction="left" scrollamount="5" loop="infinite">
        <img src="https://i.ibb.co/Kz1znw8/l1.webp" width="120" height="80" alt="Natural" class="mary" />
        <img src="https://i.ibb.co/WtG1dRf/l1.png" width="120" height="80" alt="Natural" class="mary" />
        <img src="https://i.ibb.co/NZKW7ft/l2.png" width="120" height="80" alt="Natural" class="mary" />
        <img src="https://i.ibb.co/RgmctTq/l3.png" width="120" height="80" alt="Natural" class="mary" />
        <img src="https://i.ibb.co/9sFcWrh/l4.png" width="120" height="80" alt="Natural" class="mary" />
        <img src="https://i.ibb.co/Sv3SP0Q/l5.png" width="120" height="80" alt="Natural" class="mary" />
        <img src="https://i.ibb.co/h1d0QYP/l6.png" width="120" height="80" alt="Natural" class="mary" />
        <img src="https://i.ibb.co/30P7JSf/l7.png" width="120" height="80" alt="Natural" class="mary" />
        <img src="https://i.ibb.co/rMBZRcT/l8.png" width="120" height="80" alt="Natural" class="mary" />
      </marquee>

    </div>
    
  </div>
</body>
<br>
<br><br>
<br>
<footer>
  <div class="text-center p-3" style="background-color:rgb(151, 150, 150)">
    © 2022 Copyright:

    <a [routerLink]="['/home']" style="color:white;text-decoration: none;"> Jas Kitchen Story.com</a>

  </div>
</footer>

</html>