.image-aboutus-banner {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url('https://i.ibb.co/rZLWpq4/dew.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top: 250px;
    padding-bottom:150px;
 }
 h2{
     
     color:rgb(54, 53, 53);
 }
 .kujj{
     text-align: center;
     color: greenyellow;
 }
 .mary{
     margin-left: 2.5rem;
    
 }