body {
    font-family: 'Signika', sans-serif;
 }
 .bg-grey {
    background: #292929;
 }
 .logo-footer {
    margin-bottom: 40px;
 }
 footer {
        color: grey;
 }
 footer p, a {
font-size: 12px;
font-family: 'Roboto', sans-serif;
}
footer h6 {
font-family: 'Playfair Display', serif;
margin-bottom: 40px;
position: relative;
}
footer h6:after {
position: absolute;
content: "";
background: grey;
width: 12%;
height: 1px;
left: 0;
bottom: -20px;
}
 .btn-footer {
             color: grey;
          
            text-decoration: none;
            border: 1px solid;
            border-radius: 43px;
            font-size: 13px;
            padding: 7px 30px;
            line-height: 47px;
 }
 .btn-footer:hover {
            
            text-decoration: none;
           
 }
.form-footer input[type="text"] {
    border: none;
border-radius: 16px 0 0 16px;
outline: none;
padding-left: 10px;

}
::placeholder {
font-size: 10px;
padding-left: 10px;
font-style: italic;
}
.form-footer input[type="button"] {
border: none;
background:#232323;
    margin-left: -5px;
color: #fff;
outline: none;
border-radius: 0 16px 16px 0;
padding: 2px 12px;
}
 .social .fa {
color: grey;
font-size: 22px;
padding: 10px 15px;
background: #3c3c3c;
}
 footer ul li {
list-style: none;
display: block;
}
footer ul  {
padding-left: 0;
}
footer ul  li a{
text-decoration: none;
color: grey;
text-decoration:none;
}
a:hover {
text-decoration: none;
color: #f5f5f5 !important;

}
.logo-part {
border-right: 1px solid grey;
height: 100%;
}


.content
{
    top: 30%;
    left: 20%;
    position: absolute;
}
.content h1 
{
    color: #fff;
    font-size: 60px;
    font-weight: bold;
  
}
.content a 
{
    text-decoration: none;
    background-color: #fff;
    color: var(--primary-color);
    padding: 15px 20px;
    border-radius: 5px;
}

.content a:hover 
{
    background-color: var(--primary-color);
    color: #fff;
}

.stepBox 
{
    /* background-color: #000; */
    background-color: #16da4d;
    padding: 20px 20px;
    border-radius: 5px;
    text-align: center;
}
.stepBox h1 
{
    font-size: 50px;
    font-weight: bold;
    color:var(--primary-color);
}
.card{
    border-radius: 100px;
}
.inju{
    float: right;
    border: 3px solid black;
    border-radius: 10px;
}
.checked {
    color: orange;
  }
.stepBox p 
{
    font-size: 20px;
    font-style: italic;
    color: #fff;
}
.do{
    color: rgb(74,214,31);
}
.sonu{
    float: right;
    color: #ffc107;
}
.stepBox:hover{
    background-color: #000;
    color: white;
}
.highlight
{
    /* color: var(--primary-color); */
    color: rgb(74, 214, 31);
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

.foodbox 
{
    padding: 10px 5px;
} 
.foodbox img
{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}
.foodbox h1 
{
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}
.viewmorebtn
{
    text-decoration: none;
    background-color:var(--primary-color);
    color: #000;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 18px;
    
}

@media screen and (max-width:600px)
{
    .banner
{
    height: 210px;
}
}
@media screen and (max-width:960px)
{
    .content h1 
{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
  
}
}